body{
    font-family: Arial, sans-serif;
    background-color: #e55c17;
    margin: 0;
    padding: 0;
    text-align: center;
}
h2, h3 {
    margin-top: 0;
}
/* section :1 color  demo row */
.color-demo{
    margin-bottom: 40px;
}
.color-demo-row{
    display: flex;
    margin: 10px;
    gap: 20px;
    justify-content: center;
    
}
.color-row{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
}
.name{
    background-color: lightseagreen;
}
.hex{
    background-color: #50a54b;
}
.short-hex{
    background-color: #f35;
}
.rgb{
    background-color: rgb(111, 159, 209);
}
.hsl{
    background-color: hsl(290, 100%, 70%);
}
/* section for background image banner */
.background-image-banner {
    width: 100%;
    height: 200px;
    background-image: url('https://picsum.photos/1200/250?random=1'); 
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
    padding-top: 50px;
}
.background-image-banner p{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
}
/* section-3 gradient profile card */
.profile-card {
    width: 300px;
    margin: 0 auto 40px auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(135deg, #9b5948, #44a050);
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 200px;
}
.card-button{
    background: radial-gradient(circle, red, blue);
    border-radius: 10px;
    padding: 10px;
}